// Variables

$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);

$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);

$mobilePadding: 1.365rem;

// Global Rules
@font-face {
  font-family: headFont;
  src: url(../fonts/BaiJamjuree-SemiBold.ttf);
  font-display: auto;
}
@font-face {
  font-family: textFont;
  src: url(../fonts/BaiJamjuree-Regular.ttf);
  font-display: auto;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.2s all ease;
}

body {
  font-size: 18px;
  font-family: textFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: headFont;
  color: $Dark-Grayish-Blue;

  & + p {
    margin-top: 1rem;
  }
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.565rem;
}

p {
  color: $Grayish-Blue;
  line-height: 1.8;
}

img {
  height: auto;
}

a {
  text-decoration: none;
  color: initial;
}

ul li {
  list-style: none;
}

.container {
  text-align: center;
  padding-inline: 26rem;

  @media (min-width: 768px) and (max-width: 1200px) {
    padding-inline: 14rem;
  }

  @media (max-width: 768px) {
    padding-inline: $mobilePadding;
  }
}

.btns {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  button {
    border: none;
    padding: 20px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s all linear;
    color: #fff;
    font-size: 18px;
    flex-shrink: 0;

    &:hover {
      opacity: 0.8;
    }

    &:first-of-type {
      background-color: $Strong-Cyan;
      box-shadow: hsl(171, 63.95%, 38.98%) 0 3px 0 0,
        hsl(171deg 66% 44% / 40%) 0 10px 15px 0px;
    }
    &:last-of-type {
      background-color: $Light-Blue;
      box-shadow: hsl(233, 44.31%, 57.82%) 0 3px 0 0,
        hsl(233deg 100% 69% / 40%) 0 10px 15px 0;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    button {
      width: 100%;
    }
  }
}

// Header
header {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-block: 8rem;

  .container {
    .interface {
      margin-top: 3rem;
    }
  }
}

// Responsive Header

@media (min-width: 768px) and (max-width: 1200px) {
  header {
    background-size: cover;

    .container {
      padding-inline: 14rem;
    }
  }
}

@media (max-width: 768px) {
  header {
    background-image: url(../images/bg-header-mobile.png);

    .container {
      padding-inline: $mobilePadding;
    }
  }
}

// Main

main {
  & > div {
    padding-block: 5rem;
  }

  // -- Features Section

  .features-section {
    .features-cont {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 2rem;

      .pc-image {
        img {
          max-width: 100%;
          margin-left: -2rem;
        }
      }
      .features {
        padding: 5rem 20rem 2rem 2rem;

        & > *:not(:first-child) {
          margin-top: 2.5rem;
        }

        & > div {
          p {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  // Responsive Features Section

  @media (min-width: 768px) and (max-width: 1200px) {
    .features-section {
      .features-cont {
        .features {
          padding: $mobilePadding;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .features-section {
      .features-cont {
        .pc-image {
          padding: $mobilePadding;

          img {
            margin-left: 0;
          }
        }
        .features {
          padding: $mobilePadding;

          div {
            text-align: center;
          }
        }
      }
    }
  }

  // -- Access Section

  .access-section {
    .devices-image {
      margin-top: 5rem;
      text-align: center;
    }
  }

  // Responsive Access Section

  @media (max-width: 1200px) {
    .access-section {
      .devices-image {
        padding: $mobilePadding;
        img {
          max-width: 100%;
        }
      }
    }
  }

  // --Tools Section

  .tools-section {
    .tools-cont {
      padding-inline: 9rem;
      .tools {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;

        .tool {
          text-align: center;

          &:first-child img {
            height: 32px;
          }

          h3 {
            margin-top: 2rem;
          }
        }
      }
    }
  }

  // Responsive Tools Section
  @media (max-width: 1120px) {
    .tools-section {
      .tools-cont {
        padding-inline: $mobilePadding;
        .tools {
          gap: 2rem !important;
        }
      }
    }
  }

  // --Clients Section

  .clients-section {
    .clients-cont {
      padding-inline: 5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      place-items: center;
      gap: 1rem;

      img {
        max-width: 100%;
      }
    }
  }

  // Responsive Clients Section

  @media (max-width: 1120px) {
    .clients-section {
      .clients-cont {
        padding-inline: $mobilePadding;
        gap: 5rem !important;
      }
    }
  }
}

// Footer

footer {
  margin-top: 5rem;
  padding: 2rem 8rem;
  background-color: hsl(201deg 11% 66% / 12%);
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 4fr minmax(170px, 1fr);

  .logo-image {
    img {
      width: 55px;
      height: 55px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 120px));
    grid-gap: 1.5rem 6rem;
    max-width: 500px;

    a:hover {
      color: $Strong-Cyan;
    }
  }

  .social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    img {
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// Responsive Footer
@media (max-width: 1120px) {
  footer {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: $mobilePadding;
    place-items: center;

    ul {
      grid-template-columns: 1fr;
      max-width: 100%;
      text-align: center;
    }
  }
}

// Animations
.hidden {
  opacity: 0;
  transform: scale(0);
  transition: 1s all ease-out;

  // Header
  .btns {
    transition-delay: 500ms;
    button:first-of-type {
      transition-delay: 600ms;
    }
    button:last-of-type {
      transition-delay: 700ms;
    }
  }

  // Section 1
  &.features {
    .text {
      transform: scale(0) translateY(-10%);
    }

    .f-2 {
      transition-delay: 400ms;
    }
    .f-3 {
      transition-delay: 800ms;
    }
  }

  // Section 2
  &.devices-image {
    transition-delay: 400ms;
  }

  // Section 3 {
  &.tool:nth-child(2) {
    transition-delay: 400ms;
  }
  &.tool:last-child {
    transition-delay: 800ms;
  }

  // Section 3
  &.cc {
    transform: scale(0) translateX(-50%);
  }

  &.cc:nth-of-type(2) {
    transition-delay: 400ms;
  }
  &.cc:nth-of-type(3) {
    transition-delay: 800ms;
  }
  &.cc:nth-of-type(4) {
    transition-delay: 1200ms;
  }
  &.cc:last-of-type {
    transition-delay: 1600ms;
  }

  // Footer
  &.links {
    transition-delay: 400ms;
  }
  &.sn:first-child {
    transition-delay: 600ms;
  }
  &.sn:nth-child(2) {
    transition-delay: 1200ms;
  }
  &.sn:last-child {
    transition-delay: 1800ms;
  }
}

.show {
  opacity: 1;
  transform: scale(1);

  &.features {
    .text {
      transform: scale(1) translateY(0);
    }
  }

  &.cc {
    transform: scale(1) translateX(0);
  }
}

// Scrollbar Optimization
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $Strong-Cyan;
  border-radius: 20px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(171, 66%, 44%, 0.705);
}

// Go Up Button
footer .goup-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  border: none;
  background: $Strong-Cyan;
  color: #f1f1f1;
  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 2.365rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease;
  cursor: pointer;

  &:hover {
    border-radius: 6px;
    transform: scale(1.1) translateY(-3px);
    opacity: 0.8;
    box-shadow: 0px 0px 18px -9px #3b564c;
  }
  &.inactive {
    opacity: 0;
    transform: scale(0);
  }
}
